/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.css
/public/css/nova.css
/public/js/app.js
/public/js/nova.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/phpCAS.log
/public/nova-assets/
/resources/lang/vendor/nova/
/resources/views/vendor/nova/
/public/vendor/nova/
auth.json
.phpstorm.meta.php
.idea_helper.php
.ide_helper.php