/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.css
/public/css/nova.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/nova.js
/storage/*.key
/storage/pail
/vendor
/.idea
/.nova
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/resources/lang/vendor/nova/
/resources/views/vendor/nova/*
!/resources/views/vendor/nova/partials
/resources/views/vendor/nova/partials/*
!/resources/views/vendor/nova/partials/meta.blade.php
/public/vendor/nova/
/public/nova-assets
/public/vendor/horizon/
auth.json
.phpstorm.meta.php
.idea_helper.php
_ide_helper.php
*.log
/error-pages-cache/
.last_deployment_hash
pause-monitoring.sh
resume-monitoring.sh
.vapor/
.env.production
/storage/framework/laravel-excel/
/.phpunit.cache
/storage/*.sqlite
!/storage/db-clean.sqlite
!/storage/quickstart.sqlite
*.map
.envault.json
.phpunit.result.cache
/docs/_build/
.DS_Store
