/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.css
/public/css/nova.css
/public/js/app.js
/public/js/nova.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/resources/lang/vendor/nova/
/public/vendor/nova/
/public/vendor/horizon/
auth.json
.phpstorm.meta.php
.idea_helper.php
_ide_helper.php
*.log
