parameters:
  excludes_analyse:
    - *.blade.php
    - .phpstorm.meta.php
    - _ide_helper.php
    - bootstrap/*
    - storage/*
    - vendor/*
  ignoreErrors:
    - '#(?:Dynamic call to static method|Call to an undefined method) Illuminate\\Database\\Eloquent\\(?:Builder|Relations\\[a-zA-Z]+)?(?:<mixed>|<App\\[a-zA-Z]+>|<Illuminate\\Database\\Eloquent\\Model>)?::(?:distinct|doesntHave|first|groupBy|has|havingRaw|join|leftJoin|orderBy|orderByRaw|orWhereNull|select|selectRaw|selectSub|where|whereBetween|whereDate|whereIn|whereNotNull|count|whereIn|whereBetween|sum|distinct|paid|active|accessActive|inactive|role|pending|pendingSwag|accessInactive|visible|whereNull|current|start|end|availableForPurchase|pluck)\(\)\.#'
    - '#Access to an undefined property App\\Payment::\$aggregate\.#'
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields::\$[a-zA-Z_]+\.#'
    - '#Access to an undefined property mixed::\$[a-zA-Z]+\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Permission::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Permission::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Role::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Role::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Permission::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Role::\$name\.#'
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard::getTokenForRequest\(\)\.#'
    - '#Call to an undefined method Illuminate\\Database\\Schema\\ColumnDefinition::length\(\)\.#'
    - '#Call to an undefined method Illuminate\\Http\\Request::model\(\)\.#'
    - '#Call to an undefined method Illuminate\\Support\\Fluent::references\(\)\.#'
    - '#Call to an undefined method mixed::getPayableAmount\(\)\.#'
    - '#Call to an undefined method Spatie\\Permission\\Contracts\\Permission::(?:delete|save|with)\(\)\.#'
    - '#Call to an undefined method Spatie\\Permission\\Contracts\\Role::(?:givePermissionTo|revokePermissionTo|with|save|syncPermissions|delete)\(\)\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method [a-zA-Z]+\(\) on App\\User\|null\.#'
    - '#Cannot call method delete\(\) on App\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method members\(\) on App\\Major\|Illuminate\\Database\\Eloquent\\Collection<App\\Major>\|null\.#'
    - '#Cannot call method members\(\) on App\\Major\|null\.#'
    - '#Cannot call method members\(\) on App\\Team\|null\.#'
    - '#Cannot call method name\(\) on array\|Illuminate\\Routing\\Route\.#'
    - '#Dynamic call to static method Illuminate\\Auth\\SessionGuard::authenticate\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard::user\(\)\.#'
    - '#Function factory invoked with 1 parameter, 0 required\.#'
    - '#Function factory invoked with 2 parameters, 0 required\.#'
    - '#Method App\\Http\\Controllers\\[a-zA-Z]+::[a-zA-Z]+\(\) has no return typehint specified\.#'
    - '#Method App\\Http\\Middleware\\[a-zA-Z]+::handle\(\) has no return typehint specified\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::toArray\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::toMail\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::via\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Nova\\[a-zA-Z]+::fields\(\) return type has no value type specified in iterable type array\.#'
    - '#Method App\\RecruitingVisit::save\(\) has parameter \$options with no value type specified in iterable type array\.#'
    - '#Method Illuminate\\Routing\\RouteRegistrar::middleware\(\) invoked with 2 parameters, 1 required\.#'
    - '#Offset .+ does not exist on SquareConnect\\Model\\CreateCheckoutResponse\.#'
    - '#Parameter \#1 \$data of function bin2hex expects string, string\|false given\.#'
    - '#Parameter \#1 \$duesPackage of class App\\Notifications\\Dues\\RequestCompleteNotification constructor expects App\\DuesPackage, App\\DuesPackage\|null given\.#'
    - '#Parameter \#1 \$query of method Illuminate\\Database\\Eloquent\\Builder<App\\Attendance>::selectSub\(\) expects Closure\|Illuminate\\Database\\Eloquent\\Builder<App\\Attendance>\|string, Illuminate\\Database\\Eloquent\\Builder<App\\User> given\.#'
    - '#Parameter \#1 \$str of function strtolower expects string, string\|null given\.#'
    - '#Parameter \#1 \$string of function strlen expects string, string\|null given\.#'
    - '#Parameter \#2 \$str of function explode expects string, array\|string given\.#'
    - '#Parameter \#2 \$timestamp of function date expects int, int\|false given\.#'
    - '#Parameter \#3 \$value \(.+\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be contravariant with parameter \$value \(mixed\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Parameter \#3 \$value \(.+\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be contravariant with parameter \$value \(mixed\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
    - '#Parameter \#5 \$column of method Laravel\\Nova\\Metrics\\Trend::aggregate\(\) expects string, Illuminate\\Database\\Query\\Expression given\.#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\HasMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\HasMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
    - '#Variable \$factory might not be defined\.#'
    - '#Variable property access on App\\User\.#'
