parameters:
  excludePaths:
    - *.blade.php
    - .phpstorm.meta.php
    - _ide_helper.php
    - bootstrap/*
    - storage/*
    - vendor/*
    - database/migrations/2021_01_11_231447_migrate_swag_data.php
  ignoreErrors:
    - '#(?:Dynamic call to static method|Call to an undefined method) Illuminate\\Database\\Eloquent\\(?:Builder|Collection|Relations\\[a-zA-Z]+)?(?:<mixed>|<App\\Models\\[a-zA-Z,\\]+>|<Illuminate\\Database\\Eloquent\\Model>)?::(?:distinct|doesntHave|first|groupBy|has|havingRaw|join|leftJoin|orderBy|orderByRaw|orWhereNull|select|selectRaw|selectSub|where|whereBetween|whereHas|whereDate|whereIn|whereNotNull|count|whereIn|whereBetween|sum|distinct|paid|active|accessActive|inactive|role|pending|pendingSwag|accessInactive|visible|whereNull|current|start|end|availableForPurchase|userCanPurchase|pluck|orderByDesc|withTrashed|exists|limit|doesntExist|storeExcel|BuzzCardAccessEligible)\(\)\.#'
    - '#Access to an undefined property App\\Models\\[a-zA-Z]+::\$(aggregate|day|rsvpsource|count|ending_year|member_count|active|revenue)\.#'
    - '#Access to an undefined property App\\Models\\[a-zA-Z]+::\$pivot\.#'
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$(merchandise|id)\.#'
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields::\$[a-zA-Z_]+\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Permission::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Permission::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Role::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Role::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Permission::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Role::\$name\.#'
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard::getTokenForRequest\(\)\.#'
    - '#Call to an undefined method Illuminate\\Database\\Schema\\ColumnDefinition::length\(\)\.#'
    - '#Call to an undefined method Illuminate\\Http\\Request::model\(\)\.#'
    - '#Call to an undefined method Illuminate\\Support\\HigherOrderTapProxy<mixed>::send\(\)\.#'
    - '#Call to an undefined method Spatie\\Permission\\Contracts\\Permission::(?:delete|save|with)\(\)\.#'
    - '#Call to an undefined method Spatie\\Permission\\Contracts\\Role::(?:givePermissionTo|revokePermissionTo|with|save|syncPermissions|delete)\(\)\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\Models\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method (?:pluck|count|contains|first)\(\) on array<App\\Models\\[a-zA-Z]+>|Illuminate\\Database\\Eloquent\\Collection\.#'
    - '#Cannot call method [a-zA-Z]+\(\) on App\\Models\\User\|null\.#'
    - '#Cannot call method delete\(\) on App\\Models\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method members\(\) on App\\Models\\Major\|Illuminate\\Database\\Eloquent\\Collection<App\\Models\\Major>\|null\.#'
    - '#Cannot call method members\(\) on App\\Models\\Major\|null\.#'
    - '#Cannot call method members\(\) on App\\Models\\Team\|null\.#'
    - '#Cannot call method name\(\) on array\|Illuminate\\Routing\\Route\.#'
    - '#Dynamic call to static method App\\Models\\DuesTransaction::withTrashed\(\)\.#'
    - '#Dynamic call to static method Barryvdh\\DomPDF\\PDF::(stream|save)\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Auth\\SessionGuard::authenticate\(\)\.#'
    - '#Method App\\Http\\Controllers\\[a-zA-Z]+::[a-zA-Z]+\(\) has no return typehint specified\.#'
    - '#Method App\\Http\\Middleware\\[a-zA-Z]+::handle\(\) has no return typehint specified\.#'
    - '#Method App\\Models\\[a-zA-Z]+::getMorphClassStatic\(\) should return string but returns int\|string\|false\.#'
    - '#Method App\\Models\\RecruitingVisit::save\(\) has parameter \$options with no value type specified in iterable type array\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::toArray\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::toMail\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::via\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Nova\\[a-zA-Z]+::fields\(\) return type has no value type specified in iterable type array\.#'
    - '#Method Illuminate\\Routing\\RouteRegistrar::middleware\(\) invoked with 2 parameters, 1 required\.#'
    - '#Parameter \#1 \$data of function bin2hex expects string, string\|false given\.#'
    - '#Parameter \#1 \$query of method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Attendance>::selectSub\(\) expects Closure\|Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Attendance>\|string, Illuminate\\Database\\Eloquent\\Builder<App\\Models\\User> given\.#'
    - '#Parameter \#1 \$str of function strtolower expects string, string\|null given\.#'
    - '#Parameter \#1 \$year of static method Carbon\\Carbon::create\(\) expects int\|null, float\|int given\.#'
    - '#Parameter \#2 \$callback of method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>::when\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>, mixed\): null\)\|Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>, Closure\(Illuminate\\Database\\Eloquent\\Builder\): void given\.#'
    - '#Parameter \#2 \$callback of method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::when\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>, mixed\): null\)\|Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>, Closure\(Illuminate\\Database\\Eloquent\\Builder\): void given\.#'
    - '#Parameter \#2 \$str of function explode expects string, array\|string given\.#'
    - '#Parameter \#2 \$timestamp of function date expects int, int\|false given\.#'
    - '#Parameter \#3 \$default of method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>::when\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>, mixed\): null\)\|Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>\|null, Closure\(Illuminate\\Database\\Eloquent\\Builder\): void given\.#'
    - '#Parameter \#3 \$value \(.+\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be contravariant with parameter \$value \(mixed\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Parameter \#3 \$value \(.+\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be contravariant with parameter \$value \(mixed\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
    - '#Property App\\Models\\DuesPackage::\$[a-zA-Z_]+ \(Carbon\\Carbon\) does not accept Carbon\\Carbon\|false\.#'
    - '#Property App\\Models\\User::\$access_override_until \(Illuminate\\Support\\Carbon\|null\) does not accept Carbon\\Carbon\.#'
    - '#Property App\\Nova\\Actions\\DistributeMerchandise::\$resource \(App\\Models\\Merchandise\|null\) does not accept Illuminate\\Database\\Eloquent\\Model\.#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\HasMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Return type \(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\HasMany\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be covariant with return type \(Illuminate\\Database\\Eloquent\\Builder\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
    - '#Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.#'
    - '#Variable property access on App\\Models\\User\.#'
