parameters:
  excludes_analyse:
    - %currentWorkingDirectory%/database/*
    - %currentWorkingDirectory%/vendor/*
    - *.blade.php
  includes:
    - %rootDir%/../phpstan-deprecated-rules/rules.neon
    - %rootDir%/../phpstan-strict-rules/rules.neon
    - %currentWorkingDirectory%/vendor/nunomaduro/larastan/extension.neon
  ignoreErrors:
    - '#Access to an undefined property .+::\$[a-zA-Z]+#'
    - '#Access to protected property App\\Team::\$visible#'
    - '#App\\Nova\\Metrics\\[a-zA-Z]+::__construct\(\) does not call parent constructor from Laravel\\Nova\\Element#'
    - '#Binary operation .+ between .+ and array|string|null results in an error#'
    - '#Call to an undefined method [a-zA-Z\\|]+::active\(\)#'
    - '#Call to an undefined method [a-zA-Z\\|]+::availableForPurchase\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::authorizeInclude\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::delete\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::find\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::get\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::givePermissionTo\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::intended\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::paid\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::save\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::syncPermissions\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::view\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::visible\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::where\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::with\(\)#'
    - '#Call to an undefined method [a-zA-Z\\]+::whereBetween\(\)#'
    - '#Call to an undefined method [a-zA-Z\|\\]+::withTrashed\(\)#'
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory|Illuminate\\Contracts\\Auth\\Guard::user\(\)#'
    - '#Call to an undefined method Illuminate\\Contracts\\Routing\\ResponseFactory\|Illuminate\\Http\\Response::json\(\)#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::[a-zA-Z]+\(\)#'
    - '#Call to an undefined method Illuminate\\Http\\Request::model\(\)#'
    - '#Call to an undefined method Illuminate\\Support\\Collection::downloadExcel\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::create\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::current\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::doesntHave\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::find\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::findOrFail\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::notifyException\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::paid\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::pending\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::select\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::selectRaw\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::where\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::whereBetween\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::whereIn\(\)#'
    - '#Call to an undefined static method [a-zA-Z\\]+::whereRaw\(\)#'
    - '#Call to an undefined static method [a-zA-Z\|\\]+::pendingSwag\(\)#'
    - '#Call to an undefined static method [a-zA-Z\|\\]+::visible\(\)#'
    - '#Call to an undefined static method App\\RecruitingCampaignRecipient::firstOrNew\(\)#'
    - '#Call to an undefined static method App\\RecruitingVisit::chunk\(\)#'
    - '#Call to an undefined static method App\\DuesPackage::availableForPurchase\(\)#'
    - '#Call to an undefined static method App\\User::active\(\)#'
    - '#Call to an undefined static method App\\User::accessActive\(\)#'
    - '#Call to an undefined static method App\\User::findByIdentifier\(\)#'
    - '#Call to an undefined static method Illuminate\\Support\\Facades\\DB::rollback\(\)#'
    - '#Call to static method [a-zA-Z]+\(\) on an unknown class [a-zA-Z0-9\\]+#'
    - '#Cannot access property .+ on Illuminate\\Contracts\\Auth\\Authenticatable\|null#'
    - '#Cannot call method .+ on Illuminate\\Contracts\\Auth\\Authenticatable\|null#'
    - '#Cannot call method .+ on SquareConnect\\Model\\RetrieveTransactionResponse\|Throwable\|null#'
    - '#Method [a-zA-Z0-9\\]+::[a-zA-Z0-9]+\(\) should return [a-zA-Z0-9\\]+\\?[a-zA-Z0-9\\]+ but returns [a-zA-Z0-9\\]+\|?\\?[a-zA-Z0-9\\]+#'
    - '#Result of && is always false.#'
    - '#Strict comparison using === between false and array will always evaluate to false#'
