<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/>
    <env name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/>
    <env name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/>
    <env name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/>
    <env name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/>
    <env name="RESPONSE_CACHE_ENABLED" value="false"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
