// Copy variables from the

//colors
$rj-gold: #eeb211;

//checkboxes
$custom-control-checked-indicator-color: #111;

//globals
$enable-rounded: false;

//fonts
$font-family-sans-serif: 'Open Sans', sans-serif;

// Form-Wizard Customization
// $default-color: $primary;
