body {
  background-color: #e9ecef;
  ::placeholder {
    opacity: 0.4 !important;
  }
}

#fasetSuccess {
  max-width: 60%;
  display: block;
  margin: 1rem auto;
}

// Typeahead (v-select component) Styles
.v-select.open .vs__dropdown-toggle {
  border-color: #5cb3fd;
  border-radius: 0;
}

.v-select .vs__dropdown-toggle {
  border-radius: 0 !important;
}

.v-select {
  background: #fff;
}

// Button above datatable (indented)
.btn-above-table {
  margin-left: 15px;
  margin-bottom: 15px;
}

// Sticky Footer Styles

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  color: $gray-100;
  background-color: $gray-800;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

// FlatPickr Style Overrides
.flatpickr-input[readonly] {
  background-color: white;
}

//Team Card Overrides
.card-teams {
  margin-bottom: 15px;
}

.custom-radio-input.is-invalid ~ .invalid-feedback {
  display: block;
}

input.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}

.animated-contactless-card {
    height: 150px;
    margin-top: -40px;
    line-height: 150px;
    text-align: center;
}

.animated-contactless-card img {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: contactless-tap;
    animation-name: contactless-tap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    vertical-align: bottom;
}

@-webkit-keyframes contactless-tap {
    from {
        width: 130px;
    }
    to {
        width: 150px;
    }
}

@keyframes contactless-tap {
    from {
        width: 130px;
    }
    to {
        width: 150px;
    }
}
