$attendance-series-colors: (var(--primary-70), rgba(#F99037, .7), rgba(#8FC15D, .7), rgba(#47C1BF, .7),
    rgba(#6474D7, .7), rgba(#E471DE, .7));
.attendancereport {
    .ct-bar {
        stroke-width: 40px;
    }

    .ct-label {
        color: var(--black);
        fill: var(--black);
    }

    .ct-line {
        stroke-width: 2px;
    }

    // The first series defaults to blue, like the other charts, so it should be obvious that it's this year's data.
    // These series colors are the same as from the pie charts, but every second color to give more contrast.

    .ct-series-b .ct-line {
        stroke: nth($attendance-series-colors, 2) !important;
    }

    .ct-series-c .ct-line {
        stroke: nth($attendance-series-colors, 3);
    }

    .ct-series-d .ct-line {
        stroke: nth($attendance-series-colors, 4);
    }

    .ct-series-e .ct-line {
        stroke: nth($attendance-series-colors, 5);
    }

    .ct-series-f .ct-line {
        stroke: nth($attendance-series-colors, 6);
    }

    .ct-legend {
        position: relative;
        z-index: 10;
        column-count: 3;
        padding-left: 0px;

        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 3px;
            list-style-type: none;
        }

        li:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            top: 3px;
            content: '';
            border: 3px solid transparent;
            border-radius: 2px;
        }

        li.inactive:before {
            background: transparent;
        }

        &.ct-legend-inside {
            position: absolute;
            top: 0;
            right: 0;
        }

        @for $i from 0 to length($attendance-series-colors) {
            .ct-series-#{$i}:before {
                background-color: nth($attendance-series-colors, $i + 1);
                border-color: nth($attendance-series-colors, $i + 1);
            }
        }
    }
}
