// Copy variables from the


//colors
$brand-primary:             #EEB211;

//buttons
$btn-primary-color:         #111;


//checkboxes
$custom-control-checked-indicator-color:    #111;

//globals
$enable-rounded:            false;

//fonts
$font-family-sans-serif:    "Open Sans", sans-serif;