// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Boostrap overrides
@import 'custom';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

.btn-primary {
    @include button-variant($rj-gold, $rj-gold);
}

// Custom Stylesheets
@import 'user';
