body {
  background-color: $jumbotron-bg;
  ::placeholder {
    opacity: 0.4 !important;
  }
}

#fasetSuccess {
  max-width: 60%;
  display: block;
  margin: 1rem auto;
}

// Typeahead (v-select component) Styles
.v-select.open .dropdown-toggle {
  border-color: #5cb3fd;
  border-radius: 0;
}

.v-select .dropdown-toggle {
  border-radius: 0 !important;
}

.v-select {
  background: #fff;
}

// Button above datatable (indented)
.btn-above-table {
  margin-left: 15px;
  margin-bottom: 15px;
}

// Sticky Footer Styles

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  color: $gray-100;
  background-color: $gray-800;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

// FlatPickr Style Overrides
.flatpickr-input[readonly] {
  background-color: white;
}

.custom-radio-input.is-invalid ~ .invalid-feedback {
  display: block;
}

input.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}
