name: Docs
on:
  push:
    branches:
    - main
    paths:
    - 'docs/**'
    - '.github/workflows/docs.yml'
  pull_request:
    branches:
    - main
    paths:
    - 'docs/**'
    - '.github/workflows/docs.yml'

jobs:
  docs:
    name: Build Docs
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs/
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Register problem matchers
        run: echo "::add-matcher::.github/matchers.json"

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v4

      - name: Cache the virtualenv
        uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry
          key: venv-${{ hashFiles('poetry.lock') }}

      - name: Install Poetry dependencies
        run: poetry install

      - name: Build Sphinx docs
        run: poetry run sphinx-build -M dirhtml . _build

      - name: Run Vale
        uses: docker://jdkato/vale
        with:
          entrypoint: /bin/sh
          args: -euxc "cd docs && vale sync && vale ."
